.typewriter h6 {
    font-family: "Menlo";
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .10em solid #0737A8;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(40, end),
        blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 100%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: #0737A8;
    }
}


.hero {
    background-size: cover;
    background-position: 50% 100%;
    background-image: url(img/baggrund.png);
    height: 100vh;
}

.handsfullbody {
    background-size: cover;
    background-position: 50% 100%;
    background-image: url(img/hands.jpg);
    height: 100vh;
}

.konkurrence {
    background-size: cover;
    background-image: url(img/teksturkonkurrence.jpg);
    height: 100%;
    color: #0737A8;
}

.takemewithyou {
    background-size: cover;
    height: 105vh;
    background-position: 20% 50%;
    background-image: url(img/takemewithyou.jpg);
}

.img-fluid {
    max-height: 105vh;
}

.col1 {
    background: #E6EBE8;
    height: 105vh;
}

.col2 {
    background: #EFECE0;
    color: #0737A8;
    height: 105vh;
}

.col3 {
    background: #D4D2BA;
    color: #0737A8;
    height: 105vh;
}

.col4 {
    color: #0737A8;
    height: 105vh;
}

.col5 {

    background-color: #E2D3C5;
    color: #0737A8;
    height: 105vh;
}

.col6 {
    background: #EFECE0;
    height: 100%;
}



.card {
    background-color: transparent;
    border: none;
}

.card1 {
    border-radius: 0px;
    border: 2px solid #0737A8;
    background-color: transparent;
}

.h-100 {
    height: 80vh;
}

.spin {
    margin-top: 10rem;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}


.slide-fwd-center {
    -webkit-animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
    animation: slide-fwd-center 0.45s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes slide-fwd-center {
    0% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }

    100% {
        -webkit-transform: translateZ(200px);
        transform: translateZ(200px);
    }
}




h1 {
    font-family: "Menlo", sans-serif;
}

h2 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 3rem;
    letter-spacing: 0.3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}


h3 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
}

h4 {
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    font-size: 7rem;
    padding-left: 3rem;
}

h5 {
    font-size: 1.4rem;
    font-family: "Menlo", sans-serif;
    display: flex;
    justify-content: center;
}

h6 {
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
}

p {
    font-family: "Menlo", sans-serif;
    font-size: 1.2rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


a {
    color: #0737A8;
    letter-spacing: 0.1rem;
}

label {
    font-family: "Menlo", sans-serif;
    font-size: 1.2rem;
}

.display-4 {
    font-size: 1.5rem;
    color: #0737A8;
    text-transform: uppercase;
    padding-top: 6rem;
    padding-left: 10rem;
    padding-right: 10rem;
    padding-bottom: 6rem;
    text-align: center;
    font-weight: bold;
}

.col {
    height: 80vh;
}

footer {
    height: 15vh;
    background-color: #0737A8;
    text-decoration: none;
}

footer a {
    color: white;
    margin-left: 20px;
}

a:hover {
    color: black;
}


.form-control {
    background-color: transparent;
    font-style: "Menlo";
    color: #0737A8;
    border-radius: 0rem;
    border: 1px solid #0737A8;
}

.form-check-input {
    background-color: transparent;
    font-style: "Menlo";
    color: #0737A8;
    border: 1px solid #0737A8;
}

.form-check-input[type=checkbox] {
    border-radius: 0em;
}


button,
.btn {
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    font-style: "Menlo";
    letter-spacing: 1px;
    color: #0737A8;
    text-transform: uppercase;
    transition: all 0.2s ease;
    cursor: pointer;
    border: 1px solid #0737A8;
    border-radius: 0rem;
}

button:hover {
    color: #0737A8;
    transform: scale(1.1);
}

button:active {
    background-color: black;
}

.navbar-toggler {
    border: none;
}

.logo-brand {
    left: 50%;
    transform: translate(-50%, 30%);
}

/*
.costum-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-icon {
    margin: 0 auto;
    display: inherit;
    margin-bottom: 0.5rem;
}
*/
